[submodule "xpython"]
	path = submodules/xpython
	url = https://github.com/boazlavon/xpython.git
[submodule "trepan"]
	path = submodules/trepan
	url = https://github.com/boazlavon/trepan.git
[submodule "trepan-xpy"]
	path = submodules/trepan-xpy
	url = https://github.com/boazlavon/trepan-xpy.git
[submodule "transformers"]
	path = submodules/transformers
	url = https://github.com/boazlavon/transformers
