[submodule "submodules/xpython"]
	path = submodules/xpython
	url = git@github.com:boazlavon/xpython.git
[submodule "submodules/trepan"]
	path = submodules/trepan
	url = git@github.com:boazlavon/trepan.git
[submodule "submodules/trepan-xpy"]
	path = submodules/trepan-xpy
	url = git@github.com:boazlavon/trepan-xpy.git
[submodule "submodules/transformers"]
	path = submodules/transformers
	url = git@github.com:boazlavon/transformers.git
