**/*.pyc
**/raw_traces/*
**/test_folder/*
**/traces/*
**/xmls/*
**/mbpp/*
**/mbpp-et/*
**/mathqa-python/*
**/filtered_humaneval/*
**/filtered_classeval/*
**/reval_samples/*
**/results/*
**/results.2/*
**/datasets/*
